body{
	position: relative;

}

.navbar{
	background-color: #232323;
}
.p_justificado{
	text-align: justify;
}

nav div a{
	font-weight: bold;
}

div ul li a{
	font-weight: bold;
}

header{

	text-align: center;
	font-size: 50px;
	padding-top: 50px;
	height: 500px;
}

.principal{
	width: 80%;
	height: 100%;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
}


.services{
	text-align: center;
}

section{
	padding: 150px 0;
	min-height: 500px;
}

.title{
	font-size: 34px;
	font-weight: 500;
}

.service-icon{
	display: block;
	font-size: 150px;
}

.series, .team{

	background: #f37138;

}

section.team div > img{
	width: 150px;
	height: 150px;
	background-color: #232323;
}

.centered{
	text-align: center;
}

.rows{
	margin-right: 0;
	margin-left: -15px;
}

footer{
	background-color: #232323;
	height: 200px;
	position: relative;
}

span{
	padding-top: 150px;
	color: white;
	font-weight: bold;	

}

.shadow{
	box-shadow: 0px 2px 10px #FF4D00

}

